In [4]:
import pandas as pd

urbanization = pd.read_csv(r'C:\Users\jonat\Documents\GitHub\Sprints\Sprint 12\Automação\Tableu\urbanization_rot.csv')
urbanization.head(10)

       Country        Year Population Type  Population
0  Afghanistan  1950-01-01           Urban      465127
1  Afghanistan  1951-01-01           Urban      486716
2  Afghanistan  1952-01-01           Urban      509649
3  Afghanistan  1953-01-01           Urban      534076
4  Afghanistan  1954-01-01           Urban      560158
5  Afghanistan  1955-01-01           Urban      587819
6  Afghanistan  1956-01-01           Urban      617401
7  Afghanistan  1957-01-01           Urban      648757
8  Afghanistan  1958-01-01           Urban      682255
9  Afghanistan  1959-01-01           Urban      717846

In [6]:
urbanization['Country'].nunique()

212