

Olá estudante!

Me chamo Rafael Meirelles e irei revisar o seu projeto hoje e em eventuais futuras submissões até que ele cumpra todos os requisitos para o aceite.
Conte comigo nessa jornada e não se preocupe se precisar ajustar alguns detalhes, é parte do processo e fundamental para que você exercite os conceitos que vem aprendendo e assim melhore a qualidade dos seus códigos e análises.

**Peço que mantenha e não altereos comentários que eu fizer por aqui para que possamos nos localizar posteriormente, ok?**

Mais uma coisa, vamos utilizar um código de cores para você entender os meus feedbacks no seu notebook. Funciona assim:


<div class="alert alert-danger">
<strong>Vermelho</strong>

Erro que precisa ser consertado, caso contrário, seu projeto não pode ser aceito

</div>

<div class="alert alert-warning">
<strong>Amarelo</strong>

Alerta de um erro não crítco, mas que pode ser corrigido para melhoria geral no seu código/análise

</div>

<div class="alert alert-success">
<strong>Verde</strong>

Elogios
</div>

<div class="alert alert-info">
<strong>Comentário do estudante</strong>

Use uma caixa azul como essa para eventuais comentários que você gostaria de fazer para mim.
</div>


<div class="alert alert-danger">
<strong>Comentário do revisor v1</strong>

Estamos no caminho certo com essa versão, mas retocar os pontos indicados abaixo nos fará chegar em um resultado ainda mais incrível.
    
Conte comigo para ajudá-lo (a) em qualquer questão que possa vir a ter! Lembre-se de usar as caixas azuis para se comunicar comigo.
    
Até breve.
</div>

# Se liga na música

# Conteúdo <a id='back'></a>

* [Introdução](#intro)
* [Etapa 1. Visão geral dos dados](#data_review)
    * [Conclusões](#data_review_conclusions)
* [Etapa 2. Pré-processamento de dados](#data_preprocessing)
    * [2.1 Estilo do cabeçalho](#header_style)
    * [2.2 Valores ausentes](#missing_values)
    * [2.3 Duplicados](#duplicates)
    * [2.4 Conclusões](#data_preprocessing_conclusions)
* [Etapa 3. Teste da hipótese](#hypothesis)
    * [3.1 Hipótese 1: atividade dos usuários nas duas cidades](#activity)
* [Conclusões](#end)

## Introdução <a id='intro'></a>
O trabalho de um analista é analisar dados para obter percepções valiosas dos dados e tomar decisões fundamentadas neles. Esse processo consiste em várias etapas, como visão geral dos dados, pré-processamento dos dados e testes de hipóteses.

Sempre que fazemos uma pesquisa, precisamos formular uma hipótese que depois poderemos testar. Às vezes nós aceitamos essas hipóteses; outras vezes, nós as rejeitamos. Para fazer as escolhas certas, um negócio deve ser capaz de entender se está fazendo as suposições certas ou não.

Neste projeto, você vai comparar as preferências musicais dos habitantes de Springfild e Shelbyville. Você vai estudar os dados de um serviço de streaming de música online para testar a hipótese apresentada abaixo e comparar o comportamento dos usuários dessas duas cidades.

### Objetivo:
Teste a hipótese:
1. A atividade dos usuários é diferente dependendo do dia da semana e da cidade.


### Etapas
Os dados sobre o comportamento do usuário são armazenados no arquivo `/datasets/music_project_en.csv`. Não há informações sobre a qualidade dos dados, então será necessário examiná-los antes de testar a hipótese.

Primeiro, você avaliará a qualidade dos dados e verá se seus problemas são significativos. Depois, durante o pré-processamento dos dados, você tentará tratar dos problemas mais críticos.

O seu projeto consistirá em três etapas:
 1. Visão geral dos dados
 2. Pré-processamento de dados
 3. Teste da hipótese

[Voltar ao Índice](#back)

## Etapa 1. Visão geral dos dados <a id='data_review'></a>

Abra os dados e examine-os.

Você precisará da `pandas`, então, importe-a.

In [15]:
# importando pandas
import pandas as pd

Leia o arquivo `music_project_en.csv` da pasta `/datasets/` e salve-o na variável `df`:

In [16]:
# lendo o arquivo e armazenando em df
df = pd.read_csv("music_project_en.csv") #Em meu computador só importa dessa forma

Imprima as primeiras 10 linhas da tabela:

In [17]:
# obtenha as 10 primeiras 10 linhas da tabela df
df.head(10)

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
5,842029A1,Chains,Obladaet,rusrap,Shelbyville,13:09:41,Friday
6,4CB90AA5,True,Roman Messer,dance,Springfield,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Springfield,20:47:49,Wednesday
8,8FA1D3BE,L’estate,Julia Dalia,ruspop,Springfield,09:17:40,Friday
9,E772D5C0,Pessimist,NaN,dance,Shelbyville,21:20:49,Wednesday

Obtenha informações gerais sobre a tabela usando um comando. Você conhece o método para exibir informações gerais que precisamos obter.

In [18]:
# obtendo informações gerais sobre os nossos dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63736 non-null  object
 2   artist    57512 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB

Aqui estão as nossas observações sobre a tabela. Ela contém sete colunas. Elas armazenam o mesmo tipo de dado: `object`.

De acordo com a documentação:
- `' userID'` — identificação do usuário
- `'Track'` — título da música
- `'artist'` — nome do artista
- `'genre'` — gênero da música
- `'City'` — cidade do usuário
- `'time'` — o tempo exato que a música foi reproduzida
- `'Day'` — dia da semana

Podemos ver três problemas de estilo nos cabeçalhos da tabela:
1. Alguns cabeçalhos são escritos em letras maiúsculas, outros estão em minúsculas.
2. Alguns cabeçalhos contêm espaços.
3. `Detecte o problema e o descreva aqui`.

### Escreva suas observações. Aqui estão algumas perguntas que podem ajudar: <a id='data_review_conclusions'></a>

`1. Que tipo de dados temos nas linhas? E como podemos entender as colunas?`

Os dados possuem o tipo "object", que é um tipo genérico. Podemos entender que as colunas estão bem organizadas, contendo apenas uma informação por coluna.

`2. Esses dados são suficientes para responder à nossa hipótese ou precisamos de mais dados?`

Sim, pois há colunas que indicam a cidade e o dia da semana, o que é suficiente para nossa análise.

`3. Você notou algum problema nos dados, como valores ausentes, duplicados ou tipos de dados errados?`

Os nomes das colunas estão fora do padrão, e há repetição na coluna "genre".

[Voltar ao Índice](#back)


<div class="alert alert-success">
<strong>Comentário do revisor v1</strong>

Bom trabalho com a introdução
</div>

## Etapa 2. Pré-processamento de dados <a id='data_preprocessing'></a>

O objetivo aqui é preparar os dados para a análise.
O primeiro passo é resolver todos os problemas com o cabeçalho. E então podemos passar para os valores ausentes e duplicados. Vamos começar.

Corrija a formatação nos cabeçalhos da tabela.

### Estilo do cabeçalho <a id='header_style'></a>
Imprima os cabeçalhos da tabela (os nomes das colunas):

In [19]:
# imprima os nomes das colunas
df.columns[:]

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

Mude os cabeçalhos da tabela conforme as boas práticas de estilo:
* Todos os caracteres precisam estar com letras minúsculas
* Exclua espaços
* Se o nome tiver várias palavras, use snake_case

Anteriormente, você aprendeu sobre uma maneira automatizada de renomear colunas. Vamos usá-la agora. Use o ciclo for para percorrer os nomes das colunas e transformar todos os caracteres em letras minúsculas. Após fazer isso, imprima os cabeçalhos da tabela novamente:

In [20]:
# Percorrendo os cabeçalhos e convertendo tudo em minúsculos
new_name_col = []
for col in df.columns:
    new_name = col.lower()
    new_name_col.append(new_name)
df.columns = new_name_col
df.columns

Index(['  userid', 'track', 'artist', 'genre', '  city  ', 'time', 'day'], dtype='object')

Agora, usando a mesma abordagem, exclua os espaços no início e no final de cada nome de coluna e imprima os nomes das colunas novamente:

In [21]:
# Percorrendo os cabeçalhos e removendo os espaços
new_name_col = []
for col in df.columns:
    new_name = col.strip ()
    new_name_col.append(new_name)
df.columns = new_name_col
df.columns

Index(['userid', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

Precisamos aplicar a regra de sublinhado no lugar de espaço à coluna `userid`. Deveria ser `user_id`. Renomeie essa coluna e imprima os nomes de todas as colunas quando terminar.

In [22]:
# Renomeando a coluna "userid"
rename_this = {"userid":"user_id"}
df.rename(columns=rename_this,inplace=True)
df.columns

Index(['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

Verifique o resultado. Imprima os cabeçalhos novamente:

In [23]:
# verificando o resultado: a lista de cabeçalhos
df.columns

Index(['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

[Voltar ao Índice](#back)


<div class="alert alert-success">
<strong>Comentário do revisor v1</strong>

Tudo certo como nome das colunas.
</div>

### Valores Ausentes <a id='missing_values'></a>
 Primeiro, encontre a quantidade de valores ausentes na tabela. Você precisa usar dois métodos em sequência para obter o número de valores ausentes.

In [24]:
# calculando o número de valores ausentes
print(df.isna().sum())

user_id       0
track      1343
artist     7567
genre      1198
city          0
time          0
day           0
dtype: int64

Nem todos os valores ausentes afetam a pesquisa. Por exemplo, os valores ausentes em `track` e `artist` não são críticos. Você pode simplesmente substituí-los por valores padrão, como a string `'unknown'`.

Mas valores ausentes em `'genre'` podem afetar a comparação de preferências musicais de Springfield e Shelbyville. Na vida real, seria útil descobrir as razões pelas quais os dados estão ausentes e tentar corrigi-los. Mas nós não temos essa possibilidade neste projeto. Então, você terá que:
* Preencha esses valores ausentes com um valor padrão
* Avalie em que medida os valores ausentes podem afetar sua análise

Substitua os valores ausentes nas colunas `'track'`, `'artist'` e `'genre'` pela string `'unknown'`. Como mostramos nas lições anteriores, a melhor maneira de fazer isso é criar uma lista para armazenar os nomes das colunas nas quais precisamos fazer a substituição. Em seguida, use essa lista e percorra as colunas nas quais a substituição seja necessária e faça a substituição.

In [25]:
# percorrendo os cabeçalhos e substituindo valores ausentes por 'unknown'
df.fillna("unknown", inplace=True) # pensei em fazer uma função e rodar ela apenas nas colunas que pediu, porém as unicas colunas com NaN foi as que pediu.

Agora verifique o resultado para ter certeza de que o conjunto de dados não contenha valores ausentes após a substituição. Para fazer isso, conte os valores ausentes novamente.

In [26]:
# contando os valores ausentes
print(df.isna().sum())

user_id    0
track      0
artist     0
genre      0
city       0
time       0
day        0
dtype: int64

[Voltar ao Índice](#back)


<div class="alert alert-success">
<strong>Comentário do revisor v1</strong>

Valores ausentes tratados.
</div>

### Duplicados <a id='duplicates'></a>
Encontre o número de duplicados explícitos na tabela. Lembre-se de que você precisa aplicar dois métodos em sequência para obter o número de duplicados explícitos.

In [27]:
# contando duplicados explícitos
df.duplicated().sum()
duplicated_rows = df[df.duplicated()]
duplicated_rows

,user_id,track,artist,genre,city,time,day
575,E7F07B46,Crazy,The Manhattans,rnb,Springfield,13:39:46,Monday
832,7671A47A,Johnny Go!,NikitA,ruspop,Springfield,21:59:33,Wednesday
1216,69467B01,Change It All,Harrison Storm,singer,Springfield,20:53:06,Wednesday
1754,13B1A573,Te Adoramos Jesús,Athenas,spiritual,Springfield,13:19:37,Monday
1964,B24668A0,Mad over You Mashup,Nana Fofie,singer,Springfield,20:36:51,Monday
...,...,...,...,...,...,...,...
65042,83E9C8C4,Buddhist Beat,Asian Zen Spa Music Meditation,ambient,Springfield,13:25:29,Monday
65056,2E25BCD2,Psychobitch,Easter,pop,Springfield,14:53:07,Friday
65059,F231C47E,All Summer in a Day,VHS Or BETA,electronic,Springfield,20:31:23,Friday
65067,F1B93F29,Poison Kiss,Centerstone,rock,Shelbyville,22:00:29,Monday
65069,BE1AAD74,Waterwalk,Eduardo Gonzales,electronic,Springfield,20:38:59,Monday

Agora descarte todos os duplicados. Para fazer isso, chame o método que faz exatamente isso.

In [31]:
# removendo duplicados explícitos
df.drop_duplicates(inplace=True)
df = df.reset_index(drop=True) # redefinir indices.

<div class="alert alert-info">
<strong>Comentário do estudante</strong>

Não utilisei o reset_index pois não fora utilizado nenhum comando com os indices, após está parte do código mas entendo que é uma boa prática. 

</div>

<div class="alert alert-danger">
<strong>Comentário do revisor v1</strong>

Aqui vale a pena utilizar o .reset_index(drop=True) para garantir que não teremos problemas com a ordem das observações após removermos os duplicados:
    
Ao remover duplicatas, o índice do DataFrame pode ficar desorganizado. Isso significa que você pode acabar com lacunas no índice ou com índices que não estão mais em ordem sequencial. O método reset_index() redefine o índice do DataFrame, garantindo que ele esteja organizado novamente em uma sequência numérica contínua.
</div>

Agora vamos verificar se descartamos todos os duplicados. Conte duplicados explícitos mais uma vez para ter certeza de que você removeu todos eles:

In [ ]:
# verificando duplicados novamente
df.duplicated().sum()

0

Agora queremos nos livrar dos duplicados implícitos na coluna `genre`. Por exemplo, o nome de um gênero pode ser escrito de maneiras diferentes. Alguns erros afetarão também o resultado.

Para fazer isso, vamos começar imprimindo uma lista de nomes de gênero únicos, ordenados em ordem alfabética: Para fazer isso:
* Extraia a coluna `genre` do DataFrame
* Chame o método que retornará todos os valores únicos na coluna extraída

In [ ]:
# visualizando nomes de gêneros únicos
df["genre"].unique()
# len(df["genre"].unique())

array(['rock', 'pop', 'folk', 'dance', 'rusrap', 'ruspop', 'world',
       'electronic', 'unknown', 'alternative', 'children', 'rnb', 'hip',
       'jazz', 'postrock', 'latin', 'classical', 'metal', 'reggae',
       'triphop', 'blues', 'instrumental', 'rusrock', 'dnb', 'türk',
       'post', 'country', 'psychedelic', 'conjazz', 'indie',
       'posthardcore', 'local', 'avantgarde', 'punk', 'videogame',
       'techno', 'house', 'christmas', 'melodic', 'caucasian',
       'reggaeton', 'soundtrack', 'singer', 'ska', 'salsa', 'ambient',
       'film', 'western', 'rap', 'beats', "hard'n'heavy", 'progmetal',
       'minimal', 'tropical', 'contemporary', 'new', 'soul', 'holiday',
       'german', 'jpop', 'spiritual', 'urban', 'gospel', 'nujazz',
       'folkmetal', 'trance', 'miscellaneous', 'anime', 'hardcore',
       'progressive', 'korean', 'numetal', 'vocal', 'estrada', 'tango',
       'loungeelectronic', 'classicmetal', 'dubstep', 'club', 'deep',
       'southern', 'black', 'folkrock', 'fitness', 'french', 'disco',
       'religious', 'hiphop', 'drum', 'extrememetal', 'türkçe',
       'experimental', 'easy', 'metalcore', 'modern', 'argentinetango',
       'old', 'swing', 'breaks', 'eurofolk', 'stonerrock', 'industrial',
       'funk', 'middle', 'variété', 'other', 'adult', 'christian',
       'thrash', 'gothic', 'international', 'muslim', 'relax', 'schlager',
       'caribbean', 'nu', 'breakbeat', 'comedy', 'chill', 'newage',
       'specialty', 'uzbek', 'k-pop', 'balkan', 'chinese', 'meditative',
       'dub', 'power', 'death', 'grime', 'arabesk', 'romance', 'flamenco',
       'leftfield', 'european', 'tech', 'newwave', 'dancehall', 'mpb',
       'piano', 'top', 'bigroom', 'opera', 'celtic', 'tradjazz',
       'acoustic', 'epicmetal', 'hip-hop', 'historisch', 'downbeat',
       'downtempo', 'africa', 'audiobook', 'jewish', 'sängerportrait',
       'deutschrock', 'eastern', 'action', 'future', 'electropop',
       'folklore', 'bollywood', 'marschmusik', 'rnr', 'karaoke', 'indian',
       'rancheras', 'afrikaans', 'rhythm', 'sound', 'deutschspr', 'trip',
       'lovers', 'choral', 'dancepop', 'retro', 'smooth', 'mexican',
       'brazilian', 'ïîï', 'mood', 'surf', 'gangsta', 'inspirational',
       'idm', 'ethnic', 'bluegrass', 'broadway', 'animated', 'americana',
       'karadeniz', 'rockabilly', 'colombian', 'self', 'hop', 'sertanejo',
       'japanese', 'canzone', 'lounge', 'sport', 'ragga', 'traditional',
       'gitarre', 'frankreich', 'emo', 'laiko', 'cantopop', 'glitch',
       'documentary', 'oceania', 'popeurodance', 'dark', 'vi', 'grunge',
       'hardstyle', 'samba', 'garage', 'art', 'folktronica', 'entehno',
       'mediterranean', 'chamber', 'cuban', 'taraftar', 'gypsy',
       'hardtechno', 'shoegazing', 'bossa', 'latino', 'worldbeat',
       'malaysian', 'baile', 'ghazal', 'arabic', 'popelectronic', 'acid',
       'kayokyoku', 'neoklassik', 'tribal', 'tanzorchester', 'native',
       'independent', 'cantautori', 'handsup', 'punjabi', 'synthpop',
       'rave', 'französisch', 'quebecois', 'speech', 'soulful', 'jam',
       'ram', 'horror', 'orchestral', 'neue', 'roots', 'slow', 'jungle',
       'indipop', 'axé', 'fado', 'showtunes', 'arena', 'irish',
       'mandopop', 'forró', 'dirty', 'regional'], dtype=object)

Olhe a lista e encontre duplicados implícitos do gênero `hiphop`. Esses podem ser nomes escritos incorretamente, ou nomes alternativos para o mesmo gênero.

Você verá os seguintes duplicados implícitos:
* `hip`
* `hop`
* `hip-hop`

Para se livrar deles, crie uma função `replace_wrong_genres()` com dois parâmetros:
* `wrong_genres=` — essa é uma lista que contém todos os valores que você precisa substituir
* `correct_genre=` — essa é uma string que você vai usar para a substituição

Como resultado, a função deve corrigir os nomes na coluna `'genre'` da tabela `df`, isto é, substituindo cada valor da lista `wrong_genres` por valores de `correct_genre`.

Dentro do corpo da função, use um ciclo `'for'` para percorrer a lista de gêneros errados, extrair a coluna `'genre'` e aplicar o método `replace` para fazer as correções.

In [ ]:
# função para substituir duplicados implícitos
def wrong_genre(wrong_genres,correct_genre):
    for wrong_genres in wrong_genres:
        df["genre"] = df["genre"].replace(wrong_genres, correct_genre)
    return df

Agora, chame a função `replace_wrong_genres()` e passe argumentos apropriados para que ela limpe duplicados implícitos (`hip`, `hop` e `hip-hop`) substituindo-os por `hiphop`:

In [ ]:
# removendo duplicados implícitos
wrong_genres = ['hip','hop','hip-hop']
correct_genre = 'hiphop'
df = wrong_genre(wrong_genres,correct_genre)

Certifique-se que os nomes duplicados foram removidos. Imprima a lista de valores únicos da coluna `'genre'` mais uma vez:

In [ ]:
# verificando valores duplicados
# len(df["genre"].unique())
df["genre"].unique()

array(['rock', 'pop', 'folk', 'dance', 'rusrap', 'ruspop', 'world',
       'electronic', 'unknown', 'alternative', 'children', 'rnb',
       'hiphop', 'jazz', 'postrock', 'latin', 'classical', 'metal',
       'reggae', 'triphop', 'blues', 'instrumental', 'rusrock', 'dnb',
       'türk', 'post', 'country', 'psychedelic', 'conjazz', 'indie',
       'posthardcore', 'local', 'avantgarde', 'punk', 'videogame',
       'techno', 'house', 'christmas', 'melodic', 'caucasian',
       'reggaeton', 'soundtrack', 'singer', 'ska', 'salsa', 'ambient',
       'film', 'western', 'rap', 'beats', "hard'n'heavy", 'progmetal',
       'minimal', 'tropical', 'contemporary', 'new', 'soul', 'holiday',
       'german', 'jpop', 'spiritual', 'urban', 'gospel', 'nujazz',
       'folkmetal', 'trance', 'miscellaneous', 'anime', 'hardcore',
       'progressive', 'korean', 'numetal', 'vocal', 'estrada', 'tango',
       'loungeelectronic', 'classicmetal', 'dubstep', 'club', 'deep',
       'southern', 'black', 'folkrock', 'fitness', 'french', 'disco',
       'religious', 'drum', 'extrememetal', 'türkçe', 'experimental',
       'easy', 'metalcore', 'modern', 'argentinetango', 'old', 'swing',
       'breaks', 'eurofolk', 'stonerrock', 'industrial', 'funk', 'middle',
       'variété', 'other', 'adult', 'christian', 'thrash', 'gothic',
       'international', 'muslim', 'relax', 'schlager', 'caribbean', 'nu',
       'breakbeat', 'comedy', 'chill', 'newage', 'specialty', 'uzbek',
       'k-pop', 'balkan', 'chinese', 'meditative', 'dub', 'power',
       'death', 'grime', 'arabesk', 'romance', 'flamenco', 'leftfield',
       'european', 'tech', 'newwave', 'dancehall', 'mpb', 'piano', 'top',
       'bigroom', 'opera', 'celtic', 'tradjazz', 'acoustic', 'epicmetal',
       'historisch', 'downbeat', 'downtempo', 'africa', 'audiobook',
       'jewish', 'sängerportrait', 'deutschrock', 'eastern', 'action',
       'future', 'electropop', 'folklore', 'bollywood', 'marschmusik',
       'rnr', 'karaoke', 'indian', 'rancheras', 'afrikaans', 'rhythm',
       'sound', 'deutschspr', 'trip', 'lovers', 'choral', 'dancepop',
       'retro', 'smooth', 'mexican', 'brazilian', 'ïîï', 'mood', 'surf',
       'gangsta', 'inspirational', 'idm', 'ethnic', 'bluegrass',
       'broadway', 'animated', 'americana', 'karadeniz', 'rockabilly',
       'colombian', 'self', 'sertanejo', 'japanese', 'canzone', 'lounge',
       'sport', 'ragga', 'traditional', 'gitarre', 'frankreich', 'emo',
       'laiko', 'cantopop', 'glitch', 'documentary', 'oceania',
       'popeurodance', 'dark', 'vi', 'grunge', 'hardstyle', 'samba',
       'garage', 'art', 'folktronica', 'entehno', 'mediterranean',
       'chamber', 'cuban', 'taraftar', 'gypsy', 'hardtechno',
       'shoegazing', 'bossa', 'latino', 'worldbeat', 'malaysian', 'baile',
       'ghazal', 'arabic', 'popelectronic', 'acid', 'kayokyoku',
       'neoklassik', 'tribal', 'tanzorchester', 'native', 'independent',
       'cantautori', 'handsup', 'punjabi', 'synthpop', 'rave',
       'französisch', 'quebecois', 'speech', 'soulful', 'jam', 'ram',
       'horror', 'orchestral', 'neue', 'roots', 'slow', 'jungle',
       'indipop', 'axé', 'fado', 'showtunes', 'arena', 'irish',
       'mandopop', 'forró', 'dirty', 'regional'], dtype=object)

[Voltar ao Índice](#back)

### Suas observações <a id='data_preprocessing_conclusions'></a>

` Descreva brevemente o que você reparou ao analisar duplicados, bem como a abordagem que usou para eliminá-los e os resultados que alcançou.`

Os dados apresentam muitas duplicatas implícitas no gênero musical, como: Turk/Türkçe, Holiday/Christmas... Porém, eu apenas corrigi o caso de (hip, hop, hip-hop).
Outra questão na função que criei: o correto seria incluir como parâmetro o DataFrame e a coluna a ser alterada. Contudo, a questão pedia para usar apenas dois parâmetros (wrong_genres= e correct_genre=).

Utilizei a abordagem dos métodos que aprendi durante o curso. Antes havia 269 registros e, agora, há 266. Usei a função len para verificar.

[Voltar ao Índice](#back)



<div class="alert alert-success">
<strong>Comentário do revisor v1</strong>

Bom trabalho com os duplicados implícitos e explícitos.
</div>

## Etapa 3. Teste da hipótese <a id='hypothesis'></a>

### Hipótese: comparação do comportamento dos usuários nas duas cidades <a id='activity'></a>

A hipótese afirma que existem diferenças no consumo de música pelos usuários em Springfield e em Shelbyville. Para testar a hipótese, use os dados dos três dias da semana: segunda-feira (Monday), quarta-feira (Wednesday) e sexta-feira (Friday).

* Agrupe os usuários por cidade.
* Compare o número de músicas tocadas por cada grupo na segunda, quarta e sexta.

Execute cada cálculo separadamente.

O primeiro passo é avaliar a atividade dos usuários em cada cidade. Não se esqueça das etapas "divisão-aplicação-combinação" sobre as quais falamos anteriormente na lição. Agora seu objetivo é agrupar os dados por cidade, aplicar o método de contagem apropriado durante a etapa de aplicação e então encontrar o número de músicas tocadas por cada grupo, especificando a coluna para a qual você quer obter a contagem.

Veja um exemplo de como o resultado final deve ser:
`df.groupby(by='....')['column'].method()` Execute cada cálculo separadamente.

Para avaliar a atividade dos usuários em cada cidade, agrupe os dados por cidade e encontre o número de músicas reproduzidas em cada grupo.

In [ ]:
# Contando as músicas tocadas em cada cidade
df.groupby("city")["track"].count()

city
Shelbyville    18512
Springfield    42741
Name: track, dtype: int64

`Comente sobre suas observações aqui`

A cidade de Springfield ouve muito mais do que Shelbyville

Agora vamos agrupar os dados por dia da semana e encontrar a quantidade de músicas tocadas na segunda, quarta e sexta-feira. Use a mesma abordagem que antes, mas agora precisamos agrupar os dados de uma forma diferente.

In [ ]:
# Calculando as músicas escutadas em cada um desses três dias
df.groupby("day")["track"].count()

day
Friday       21840
Monday       21354
Wednesday    18059
Name: track, dtype: int64

In [ ]:
Shelbyville = 18512
Springfield = 42741
porcentagem = (Shelbyville/Springfield)*100
round(porcentagem)

43

In [ ]:
Friday = 21840
Wednesday = 18059
porcentagem = ((Friday / Wednesday)-1) * 100
round(porcentagem)

21

`Comente sobre suas observações aqui`

A cidade Springfield é havida por ouvir musica, ouve 43% a mais que o Shelbyville.
Friday é maior que Wednesday 21%

Você acabou de aprender como contar entradas agrupando-as por cidade ou por dia. E agora você precisa escrever uma função que possa contar entradas simultaneamente com base em ambos os critérios.

Crie a função `number_tracks()` para calcular o número de músicas tocadas em um determinado dia **e** em uma determinada cidade. A função deve aceitar dois parâmetros:

- `day`: um dia da semana pelo qual precisamos filtrar os dados. Por exemplo, `'Monday'`.
- `city`: uma cidade pela qual precisamos filtrar os dados. Por exemplo, `'Springfield'`.

Dentro da função, você vai aplicar uma filtragem consecutiva com indexação lógica.

Primeiro, filtre os dados por dia e então filtre a tabela resultante por cidade.

Depois de filtrar os dados usando os dois critérios, conte o número de valores na coluna 'user_id' da tabela resultante. O resultado da contagem representará o número de entradas que você quer encontrar. Armazene o resultado em uma nova variável e imprima-o.

In [ ]:
def number_tracks(city, day):# Declare a função number_tracks() com dois parâmetros: day= e city=.
    # Armazene as linhas do DataFrame em que o valor na coluna 'day' é igual ao parâmetro day=
    value_day = df[df['day'] == day]
    # Filtre as linhas em que o valor na coluna 'city' é igual ao parâmetro city=
    value_city = value_day[value_day['city'] == city]
    # Extraia a coluna 'user_id' da tabela filtrada e aplique o método count()
    count_music = value_city['user_id'].count()
    # Retorne o número dos valores da coluna 'user_id'
    return count_music

Chame a função `number_tracks()` seis vezes, mudando os valores dos parâmetros, para que você possa recuperar os dados de ambas as cidades para cada um dos três dias.

In [ ]:
# a quantidade de músicas tocadas em Springfield na segunda-feira
number_tracks('Springfield', 'Monday')

15740

In [ ]:
# a quantidade de músicas tocadas em Shelbyville na segunda-feira
number_tracks('Shelbyville', 'Monday')

5614

In [ ]:
# a quantidade de músicas tocadas em Springfield na quarta-feira
number_tracks('Springfield', 'Wednesday')

11056

In [ ]:
# a quantidade de músicas tocadas em Shelbyville na quarta-feira
number_tracks('Shelbyville', 'Wednesday')

7003

In [ ]:
# a quantidade de músicas tocadas em Springfield na sexta-feira
number_tracks('Springfield', 'Friday')

15945

In [ ]:
# a quantidade de músicas tocadas em Shelbyville na sexta-feira
number_tracks('Shelbyville', 'Friday')

5895



<div class="alert alert-success">
<strong>Comentário do revisor v1</strong>

A função solicitada foi desenvolvida e o cálculo das reproduções foi realizado com sucesso.
</div>

**Conclusões**

`Comente sobre se a terceira hipótese está correta ou deve ser rejeitada. Explique seu raciocínio.`

[Voltar ao Índice](#back)

# Conclusões <a id='end'></a>

`Resuma suas conclusões sobre a hipótese aqui`

A cidade Springfield é havida por ouvir musica, ouve 43% a mais que o Shelbyville.

Friday é maior que Wednesday 21%

O dia da semana + cidade que mais ouviu foi Springfield + Monday e o que menos ouviu foi: Shelbyville + Monday.

Concluo que a hipótese: "A atividade dos usuários é diferente dependendo do dia da semana e da cidade" é verdadeira.



<div class="alert alert-danger">
<strong>Comentário do revisor v1</strong>

Jonathas, bons pontos! Qual a conclusão sobre a hipótese?
</div>

### Importante
Em projetos de pesquisas reais, o teste estatístico de hipóteses é mais preciso e quantitativo. Observe também que conclusões sobre uma cidade inteira nem sempre podem ser tiradas a partir de dados de apenas uma fonte.

Você aprenderá mais sobre testes de hipóteses no sprint sobre a análise estatística de dados.

[Voltar ao Índice](#back)